:root {
  /* colors */
  --primary: #49a580;
  --red: #ff4648;
  --dark-red: #942727;
  --light-red: #ffa5a5;
  --secondary: #f1f6f2;
  --background: #f1f1f1;
  --white: #fff;
  --black: #000;
  --dark-gray: #1b1f1e;
  --light-gray: #f2f2f2;
  --gray: #797979;

  /* sizes */
  --xl: 2rem;
  --lg: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  background: var(--light-gray) url("/texture.svg") repeat;
  flex: 1;
  padding: 30px;
}

.container {
  margin: auto;
  padding: 50px 200px;
  border-radius: 10px;
}

.currency-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: 20px 0px;
  flex-wrap: wrap;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 1000px) {
  .container {
    padding: 10px;
    margin: 0;
  }
}

@media (max-width: 1500px) {
  .currency-container {
    justify-content: start;
  }
}
